<section class="partners">
    <h2 class="partners__heading"></h2>
    <ul class="partners__cards">
        <li class="partners__card"><img src="" alt="">
            <h3 class="partners__card__heading">Bradley Hunter</h3>
            <p class="partners__card__text">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
        <li class="partners__card"><img src="" alt="">
            <h3 class="partners__card__heading">Heather Walker</h3>
            <p class="partners__card__text">I'm a happy person that loves cats and climbing on mountains. </p>
        </li>
        <li class="partners__card"><img src="" alt="">
            <h3 class="partners__card__heading">Lucas Marsha</h3>
            <p class="partners__card__text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards. </p>
        </li>
        <li class="partners__card"><img src="" alt="">
            <h3 class="partners__card__heading">Bradley Hunter</h3>
            <p class="partners__card__text">Based in Chicago. I love playing tennis and loud music.</p>
        </li>
    </ul>
</section>